<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello welcome Adfar</h2>
    <h1>My name is {{adfar.name}} and i am {{adfar.age}} years old.</h1>
</body>
</html>